@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  margin: 0;
  background: #0d0d14;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
